@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar {
    display: flex !important;
    padding: 10px 0px;

    p {
        width: 100%;
        text-align: center;
        margin-bottom: 0px;
        font-family: 'Lobster', cursive;
        font-size: 2em;
        color: #5bc2e7;

    }
}